<h1>Edit this Portfolio Item</h1>
 
 <%= form_for(@portfolio_item) do |f| %>
  <div class="field">
    <%= f.label :tittle %>
    <%= f.text_field :tittle %>
  </div>

   <div class="field">
    <%= f.label :subtitle %>
    <%= f.text_area :subtitle %>
  </div>

   <div class="field">
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>
  
   <div class="actions">
    <%= f.submit %>
  </div>
<% end %>